In [2]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=PySparkShell, master=local[*]) created by <module> at C:\Users\sg\anaconda3\lib\site-packages\IPython\utils\py3compat.py:168

In [3]:
# source pathed 
KSA_GT_path="KSA_GT.csv"
KSA_MT_path="KSA_MT.csv"
UAE_GT_MT_path="UAE_MT_GT.csv"
QTR_GT_MT_path="QTR_MT_GT.csv"

In [4]:
#loading data 
KSA_GT = spark.read.options(header='True', delimiter=',').csv(KSA_GT_path)
KSA_MT = spark.read.options(header='True', delimiter=',').csv(KSA_MT_path)
UAE_GT_MT = spark.read.options(header='True', delimiter=',').csv(UAE_GT_MT_path)
QTR_GT_MT = spark.read.options(header='True', delimiter=',').csv(QTR_GT_MT_path)
#total_df=KSA_GT.union(KSA_MT.union(UAE_GT_MT.union(QTR_GT_MT)))

In [5]:
#drop nulls rows 
KSA_GT=KSA_GT.na.drop("all")
KSA_MT=KSA_MT.na.drop("all")
UAE_GT_MT=UAE_GT_MT.na.drop("all")
QTR_GT_MT=QTR_GT_MT.na.drop("all")

In [6]:
QTR_GT_MT.show()

+----+-----+----+---------+-------+-----------+-------------------------+------------------+-----------------+------------------------+-------------+---------+----------------+---+----------+------------+-----------+------------------+-------------+--------------+---------+----------+------------+-------------+--------------------+-----------+-------+--------+-------------+----------------------+--------------------------+--------------------+----------+------------------------------+------------+-------+-------------------------------+--------------------+-----------------+
|Year|Month|Week|Frequency|Cluster|   Customer|WH Location or Store Name|Store or Warehouse|Customer SKU Code|Customer SKU Description|    Barcode #|Item Type|         Packing|UoM|QOH(Value)|QOH (Volume)|UL SKU Code|UL Master SKU Code|UL PC BarCode| UL CS BarCode|    UL BG|UL Small C|    UL Brand|  UL CPG code|         UL CPG Name|    UL Type|Pc/Case|Case/Ton|Stock in Tons|Avg monthly sales Tons|Net Avg monthly sales Tons|Avg Wkly  sales Tons|Wkly cover|Customer Account / Banner Code|Trade Format|Country|Sales Value per Unit of Measure|Sales Value Currency|     Store Format|
+----+-----+----+---------+-------+-----------+-------------------------+------------------+-----------------+------------------------+-------------+---------+----------------+---+----------+------------+-----------+------------------+-------------+--------------+---------+----------+------------+-------------+--------------------+-----------+-------+--------+-------------+----------------------+--------------------------+--------------------+----------+------------------------------+------------+-------+-------------------------------+--------------------+-----------------+
|2022|   10|  43|  monthly|  Coops|Union Coops|                  A Salma|             Store|           564690|    LUX DW(BENJI2) LE...|6281006593770|     null|1x(1250ml+750ml)|PCS|      null|       2.17 |   68833530|       M2104617700|6281006201880|06281006201897|HOME CARE|  DISHWASH|LUX PROGRESS|6A42A1I119404|LUX PROGRESS HDW ...|Promo Packs|      6|  65.053|     0.033306|                  null|                      null|                null|      null|                        125180|          MT|  Qatar|                           null|                null|LARGE SUPERMARKET|
|2022|   10|  43|  monthly|  Coops|Union Coops|                 Abu Hail|             Store|           564690|    LUX DW(BENJI2) LE...|6281006593770|     null|1x(1250ml+750ml)|PCS|      null|      25.33 |   68833530|       M2104617700|6281006201880|06281006201897|HOME CARE|  DISHWASH|LUX PROGRESS|6A42A1I119404|LUX PROGRESS HDW ...|Promo Packs|      6|  65.053|     0.389424|                  null|                      null|                null|      null|                        125180|          MT|  Qatar|                           null|                null|LARGE SUPERMARKET|
|2022|   10|  43|  monthly|  Coops|Union Coops|                 Al Aweer|             Store|           564690|    LUX DW(BENJI2) LE...|6281006593770|     null|1x(1250ml+750ml)|PCS|      null|      93.33 |   68833530|       M2104617700|6281006201880|06281006201897|HOME CARE|  DISHWASH|LUX PROGRESS|6A42A1I119404|LUX PROGRESS HDW ...|Promo Packs|      6|  65.053|      1.43472|                  null|                      null|                null|      null|                        125180|          MT|  Qatar|                           null|                null|LARGE SUPERMARKET|
|2022|   10|  43|  monthly|  Coops|Union Coops|          Al Barsha South|             Store|           564690|    LUX DW(BENJI2) LE...|6281006593770|     null|1x(1250ml+750ml)|PCS|      null|      71.83 |   68833530|       M2104617700|6281006201880|06281006201897|HOME CARE|  DISHWASH|LUX PROGRESS|6A42A1I119404|LUX PROGRESS HDW ...|Promo Packs|      6|  65.053|     1.104222|                  null|                      null|                null|      null|                        125180|          MT|  Qatar|                           null|                null|LARGE SUPERMARKET|
|2022|   10|  43|  monthly|  Coops|Union Coops|                  Al Qouz|             Store|           564690|    LUX DW(BENJI2) LE...|6281006593770|     null|1x(1250ml+750ml)|PCS|      null|       0.67 |   68833530|       M2104617700|6281006201880|06281006201897|HOME CARE|  DISHWASH|LUX PROGRESS|6A42A1I119404|LUX PROGRESS HDW ...|Promo Packs|      6|  65.053|     0.010248|                  null|                      null|                null|      null|                        125180|          MT|  Qatar|                           null|                null|LARGE SUPERMARKET|
|2022|   10|  43|  monthly|  Coops|Union Coops|                   Al Tay|             Store|           564690|    LUX DW(BENJI2) LE...|6281006593770|     null|1x(1250ml+750ml)|PCS|      null|       0.33 |   68833530|       M2104617700|6281006201880|06281006201897|HOME CARE|  DISHWASH|LUX PROGRESS|6A42A1I119404|LUX PROGRESS HDW ...|Promo Packs|      6|  65.053|     0.005124|                  null|                      null|                null|      null|                        125180|          MT|  Qatar|                           null|                null|LARGE SUPERMARKET|
|2022|   10|  43|  monthly|  Coops|Union Coops|                 Al Towar|             Store|           564690|    LUX DW(BENJI2) LE...|6281006593770|     null|1x(1250ml+750ml)|PCS|      null|      51.33 |   68833530|       M2104617700|6281006201880|06281006201897|HOME CARE|  DISHWASH|LUX PROGRESS|6A42A1I119404|LUX PROGRESS HDW ...|Promo Packs|      6|  65.053|     0.789096|                  null|                      null|                null|      null|                        125180|          MT|  Qatar|                           null|                null|LARGE SUPERMARKET|
+----+-----+----+---------+-------+-----------+-------------------------+------------------+-----------------+------------------------+-------------+---------+----------------+---+----------+------------+-----------+------------------+-------------+--------------+---------+----------+------------+-------------+--------------------+-----------+-------+--------+-------------+----------------------+--------------------------+--------------------+----------+------------------------------+------------+-------+-------------------------------+--------------------+-----------------+

In [7]:
UAE_GT_MT.show()

+----+-----+----+---------+-------+-----------+-------------------------+------------------+-----------------+------------------------+-------------+---------+----------+---+----------+------------+-----------+------------------+-------------+--------------+------------------+----------------+--------+-------------+--------------------+-----------+-------+--------+-------------+----------------------+--------------------------+--------------------+----------+------------------------------+------------+-------+-------------------------------+--------------------+-----------------+
|Year|Month|Week|Frequency|Cluster|   Customer|WH Location or Store Name|Store or Warehouse|Customer SKU Code|Customer SKU Description|    Barcode #|Item Type|   Packing|UoM|QOH(Value)|QOH (Volume)|UL SKU Code|UL Master SKU Code|UL PC BarCode| UL CS BarCode|             UL BG|      UL Small C|UL Brand|  UL CPG code|         UL CPG Name|    UL Type|Pc/Case|Case/Ton|Stock in Tons|Avg monthly sales Tons|Net Avg monthly sales Tons|Avg Wkly  sales Tons|Wkly cover|Customer Account / Banner Code|Trade Format|Country|Sales Value per Unit of Measure|Sales Value Currency|     Store Format|
+----+-----+----+---------+-------+-----------+-------------------------+------------------+-----------------+------------------------+-------------+---------+----------+---+----------+------------+-----------+------------------+-------------+--------------+------------------+----------------+--------+-------------+--------------------+-----------+-------+--------+-------------+----------------------+--------------------------+--------------------+----------+------------------------------+------------+-------+-------------------------------+--------------------+-----------------+
|2022|    8|  35|  monthly|  Coops|Union Coops|                  A Salma|          In Store|           480871|    SIMPLE CLEANSING ...|5011451103979|     null|     6x25s|PCS|      null| 3.833333333|   67578042|       M6754568800|5011451103979|05011451307759|BEAUTY & WELLBEING|       FACE CARE|  SIMPLE|443439I73B144|SIMPLE FACIAL WAS...|    Regular|      6| 761.035|     0.005037|                  null|                      null|                null|      null|                        125180|          MT|    UAE|                           null|                null|LARGE SUPERMARKET|
|2022|    8|  35|  monthly|  Coops|Union Coops|          Al Barsha South|          In Store|           480871|    SIMPLE CLEANSING ...|5011451103979|     null|     6x25s|PCS|      null| 1.833333333|   67578042|       M6754568800|5011451103979|05011451307759|BEAUTY & WELLBEING|       FACE CARE|  SIMPLE|443439I73B144|SIMPLE FACIAL WAS...|    Regular|      6| 761.035|     0.002409|                  null|                      null|                null|      null|                        125180|          MT|    UAE|                           null|                null|LARGE SUPERMARKET|
|2022|    8|  35|  monthly|  Coops|Union Coops|                 Al Towar|          In Store|           480871|    SIMPLE CLEANSING ...|5011451103979|     null|     6x25s|PCS|      null|         0.5|   67578042|       M6754568800|5011451103979|05011451307759|BEAUTY & WELLBEING|       FACE CARE|  SIMPLE|443439I73B144|SIMPLE FACIAL WAS...|    Regular|      6| 761.035|     0.000657|                  null|                      null|                null|      null|                        125180|          MT|    UAE|                           null|                null|LARGE SUPERMARKET|
|2022|    8|  35|  monthly|  Coops|Union Coops|                 Al Warqa|          In Store|           480871|    SIMPLE CLEANSING ...|5011451103979|     null|     6x25s|PCS|      null| 0.333333333|   67578042|       M6754568800|5011451103979|05011451307759|BEAUTY & WELLBEING|       FACE CARE|  SIMPLE|443439I73B144|SIMPLE FACIAL WAS...|    Regular|      6| 761.035|     0.000438|                  null|                      null|                null|      null|                        125180|          MT|    UAE|                           null|                null|LARGE SUPERMARKET|
|2022|    8|  35|  monthly|  Coops|Union Coops|           Jumeirah First|          In Store|           480871|    SIMPLE CLEANSING ...|5011451103979|     null|     6x25s|PCS|      null|           1|   67578042|       M6754568800|5011451103979|05011451307759|BEAUTY & WELLBEING|       FACE CARE|  SIMPLE|443439I73B144|SIMPLE FACIAL WAS...|    Regular|      6| 761.035|     0.001314|                  null|                      null|                null|      null|                        125180|          MT|    UAE|                           null|                null|LARGE SUPERMARKET|
|2022|    8|  35|  monthly|  Coops|Union Coops|                   Mirdif|          In Store|           480871|    SIMPLE CLEANSING ...|5011451103979|     null|     6x25s|PCS|      null| 4.833333333|   67578042|       M6754568800|5011451103979|05011451307759|BEAUTY & WELLBEING|       FACE CARE|  SIMPLE|443439I73B144|SIMPLE FACIAL WAS...|    Regular|      6| 761.035|     0.006351|                  null|                      null|                null|      null|                        125180|          MT|    UAE|                           null|                null|LARGE SUPERMARKET|
|2022|    8|  35|  monthly|  Coops|Union Coops|                 Abu Hail|          In Store|           526268|    ASSORTED SHEET MA...|6281006566798|     null|1x(3x21ml)|PCS|      null|         0.5|   68478436|       M6847843600|6281006566798|06281006567191|BEAUTY & WELLBEING|       FACE CARE|  SIMPLE|443439I73B146|SIMPLE FACIAL WAS...|Promo Packs|      4|3731.343|     0.000134|                  null|                      null|                null|      null|                        125180|          MT|    UAE|                           null|                null|LARGE SUPERMARKET|
|2022|    8|  35|  monthly|  Coops|Union Coops|                 Al Warqa|          In Store|           526268|    ASSORTED SHEET MA...|6281006566798|     null|1x(3x21ml)|PCS|      null|         0.5|   68478436|       M6847843600|6281006566798|06281006567191|BEAUTY & WELLBEING|       FACE CARE|  SIMPLE|443439I73B146|SIMPLE FACIAL WAS...|Promo Packs|      4|3731.343|     0.000134|                  null|                      null|                null|      null|                        125180|          MT|    UAE|                           null|                null|LARGE SUPERMARKET|
|2022|    8|  35|  monthly|  Coops|Union Coops|                   Barsha|          In Store|           526268|    ASSORTED SHEET MA...|6281006566798|     null|1x(3x21ml)|PCS|      null|           3|   68478436|       M6847843600|6281006566798|06281006567191|BEAUTY & WELLBEING|       FACE CARE|  SIMPLE|443439I73B146|SIMPLE FACIAL WAS...|Promo Packs|      4|3731.343|     0.000804|                  null|                      null|                null|      null|                        125180|          MT|    UAE|                           null|                null|LARGE SUPERMARKET|
|2022|    8|  35|  monthly|  Coops|Union Coops|                  Hamriya|          In Store|           526268|    ASSORTED SHEET MA...|6281006566798|     null|1x(3x21ml)|PCS|      null|         0.5|   68478436|       M6847843600|6281006566798|06281006567191|BEAUTY & WELLBEING|       FACE CARE|  SIMPLE|443439I73B146|SIMPLE FACIAL WAS...|Promo Packs|      4|3731.343|     0.000134|                  null|                      null|                null|      null|                        125180|          MT|    UAE|                           null|                null|LARGE SUPERMARKET|
|2022|    8|  35|  monthly|  Coops|Union Coops|                   Mirdif|          In Store|           526268|    ASSORTED SHEET MA...|6281006566798|     null|1x(3x21ml)|PCS|      null|           1|   68478436|       M6847843600|6281006566798|06281006567191|BEAUTY & WELLBEING|       FACE CARE|  SIMPLE|443439I73B146|SIMPLE FACIAL WAS...|Promo Packs|      4|3731.343|     0.000268|                  null|                      null|                null|      null|                        125180|          MT|    UAE|                           null|                null|LARGE SUPERMARKET|
|2022|    8|  35|  monthly|  Coops|Union Coops|                    Satwa|          In Store|           526268|    ASSORTED SHEET MA...|6281006566798|     null|1x(3x21ml)|PCS|      null|         1.5|   68478436|       M6847843600|6281006566798|06281006567191|BEAUTY & WELLBEING|       FACE CARE|  SIMPLE|443439I73B146|SIMPLE FACIAL WAS...|Promo Packs|      4|3731.343|     0.000402|                  null|                      null|                null|      null|                        125180|          MT|    UAE|                           null|                null|LARGE SUPERMARKET|
|2022|    8|  35|  monthly|  Coops|Union Coops|                Um Suqeim|          In Store|           526268|    ASSORTED SHEET MA...|6281006566798|     null|1x(3x21ml)|PCS|      null|         2.5|   68478436|       M6847843600|6281006566798|06281006567191|BEAUTY & WELLBEING|       FACE CARE|  SIMPLE|443439I73B146|SIMPLE FACIAL WAS...|Promo Packs|      4|3731.343|      0.00067|                  null|                      null|                null|      null|                        125180|          MT|    UAE|                           null|                null|LARGE SUPERMARKET|
|2022|    8|  35|  monthly|  Coops|Union Coops|                  A Salma|          In Store|           495731|    VASELINE PJELLY B...|6281006508040|     null|   72X50ml|PCS|      null|         0.5|   67830744|       M6783074400|6281006508040|06281006508033|BEAUTY & WELLBEING|HAND & BODY CARE|VASELINE|443440084B454|VASELINE BODY PET...|    Regular|     72| 326.797|      0.00153|                  null|                      null|                null|      null|                        125180|          MT|    UAE|                           null|                null|LARGE SUPERMARKET|
|2022|    8|  35|  monthly|  Coops|Union Coops|                 Abu Hail|          In Store|           495731|    VASELINE PJELLY B...|6281006508040|     null|   72X50ml|PCS|      null| 0.541666667|   67830744|       M6783074400|6281006508040|06281006508033|BEAUTY & WELLBEING|HAND & BODY CARE|VASELINE|443440084B454|VASELINE BODY PET...|    Regular|     72| 326.797|    0.0016575|                  null|                      null|                null|      null|                        125180|          MT|    UAE|                           null|                null|LARGE SUPERMARKET|
|2022|    8|  35|  monthly|  Coops|Union Coops|                 Al Aweer|          In Store|           495731|    VASELINE PJELLY B...|6281006508040|     null|   72X50ml|PCS|      null|        0.75|   67830744|       M6783074400|6281006508040|06281006508033|BEAUTY & WELLBEING|HAND & BODY CARE|VASELINE|443440084B454|VASELINE BODY PET...|    Regular|     72| 326.797|     0.002295|                  null|                      null|                null|      null|                        125180|          MT|    UAE|                           null|                null|LARGE SUPERMARKET|
|2022|    8|  35|  monthly|  Coops|Union Coops|          Al Barsha South|          In Store|           495731|    VASELINE PJELLY B...|6281006508040|     null|   72X50ml|PCS|      null| 1.444444444|   67830744|       M6783074400|6281006508040|06281006508033|BEAUTY & WELLBEING|HAND & BODY CARE|VASELINE|443440084B454|VASELINE BODY PET...|    Regular|     72| 326.797|      0.00442|                  null|                      null|                null|      null|                        125180|          MT|    UAE|                           null|                null|LARGE SUPERMARKET|
|2022|    8|  35|  monthly|  Coops|Union Coops|                  Al Qouz|          In Store|           495731|    VASELINE PJELLY B...|6281006508040|     null|   72X50ml|PCS|      null| 0.347222222|   67830744|       M6783074400|6281006508040|06281006508033|BEAUTY & WELLBEING|HAND & BODY CARE|VASELINE|443440084B454|VASELINE BODY PET...|    Regular|     72| 326.797|    0.0010625|                  null|                      null|                null|      null|                        125180|          MT|    UAE|                           null|                null|LARGE SUPERMARKET|
|2022|    8|  35|  monthly|  Coops|Union Coops|            Al Tay Branch|          In Store|           495731|    VASELINE PJELLY B...|6281006508040|     null|   72X50ml|PCS|      null|       0.125|   67830744|       M6783074400|6281006508040|06281006508033|BEAUTY & WELLBEING|HAND & BODY CARE|VASELINE|443440084B454|VASELINE BODY PET...|    Regular|     72| 326.797|    0.0003825|                  null|                      null|                null|      null|                        125180|          MT|    UAE|                           null|                null|LARGE SUPERMARKET|
|2022|    8|  35|  monthly|  Coops|Union Coops|                 Al Towar|          In Store|           495731|    VASELINE PJELLY B...|6281006508040|     null|   72X50ml|PCS|      null| 0.458333333|   67830744|       M6783074400|6281006508040|06281006508033|BEAUTY & WELLBEING|HAND & BODY CARE|VASELINE|443440084B454|VASELINE BODY PET...|    Regular|     72| 326.797|    0.0014025|                  null|                      null|                null|      null|                        125180|          MT|    UAE|                           null|                null|LARGE SUPERMARKET|
+----+-----+----+---------+-------+-----------+-------------------------+------------------+-----------------+------------------------+-------------+---------+----------+---+----------+------------+-----------+------------------+-------------+--------------+------------------+----------------+--------+-------------+--------------------+-----------+-------+--------+-------------+----------------------+--------------------------+--------------------+----------+------------------------------+------------+-------+-------------------------------+--------------------+-----------------+
only showing top 20 rows

In [7]:
print(KSA_GT.count()
,KSA_MT.count()
,UAE_GT_MT.count()
,QTR_GT_MT.count())

499 499 499 7

In [ ]:
#KSA_GT trans
KSA_GT=KSA_GT.withColumnRenamed('Customer Number','Customer Code / Banner Code')\
.withColumnRenamed('Channel','Store Format')

In [ ]:
#KSA_MT trans
KSA_MT=KSA_MT.withColumnRenamed('MONTH','Month')\
.withColumnRenamed('ACCOUNT','Customer Name')\
.withColumnRenamed('ACCOUNT LOCATION','Stock Location (WH or In Store)')\
.withColumnRenamed('STORE NAME','WH Location or Store Name')\
.withColumnRenamed('Customer Account / Banner Code','Customer Code / Banner Code')

In [ ]:
#UAE_GT_MT trans
from pyspark.sql.functions import col
UAE_GT_MT=UAE_GT_MT.withColumnRenamed('Customer','Customer Name')\
.withColumnRenamed('Store or Warehouse','Stock Location (WH or In Store)')\
.withColumnRenamed('Customer Account / Banner Code','Customer Code / Banner Code')\
.withColumn('Region',col('Country'))

In [ ]:
#QTR_GT_MT trans
QTR_GT_MT=QTR_GT_MT.withColumnRenamed('Customer','Customer Name')\
.withColumnRenamed('Store or Warehouse','Stock Location (WH or In Store)')\
.withColumnRenamed('Customer Account / Banner Code','Customer Code / Banner Code')\
.withColumn('Region',col('Country'))

In [ ]:
trans_KSA_GT=KSA_GT.select('Country','Trade Format','Year','Month','Week','Customer Code / Banner Code','Customer Name','Stock Location (WH or In Store)','WH Location or Store Name','Store Format','Region')
trans_KSA_MT=KSA_MT.select('Country','Trade Format','Year','Month','Week','Customer Code / Banner Code','Customer Name','Stock Location (WH or In Store)','WH Location or Store Name','Store Format','Region')
trans_UAE_MT_GT=UAE_GT_MT.select('Country','Trade Format','Year','Month','Week','Customer Code / Banner Code','Customer Name','Stock Location (WH or In Store)','WH Location or Store Name','Store Format','Region')
trans_QTR_MT_GT=QTR_GT_MT.select('Country','Trade Format','Year','Month','Week','Customer Code / Banner Code','Customer Name','Stock Location (WH or In Store)','WH Location or Store Name','Store Format','Region')

In [ ]:
outPut=trans_KSA_GT.union(trans_KSA_MT.union(trans_UAE_MT_GT.union(trans_QTR_MT_GT)))

In [ ]:
outPut.count()

In [13]:
outPut.toPandas().to_csv('trans_output.csv', sep=';', header=True, index=False)

In [33]:
Total.toPandas().to_csv('Total.csv', sep=';', header=True, index=False)

In [39]:
KSA_GT.createOrReplaceTempView('KSA_GT_2')
KSA_MT.createOrReplaceTempView('KSA_MT_2')

In [48]:
KSA_GT_2=spark.sql("""select Country
,'Trade Format'
,Year
,Month
,Week
,'Customer Number' as CustomerCodeBannerCode
,'Customer Name'
,'Stock Location (WH or In Store)'
,'WH Location or Store Name'
,Channel as StoreFormat
,Region
 from KSA_GT_2""")

In [49]:
KSA_GT_2.toPandas()

,Country,Trade Format,Year,Month,Week,CustomerCodeBannerCode,Customer Name,Stock Location (WH or In Store),WH Location or Store Name,StoreFormat,Region
0,KSA,Trade Format,2022,6,27,Customer Number,Customer Name,Stock Location (WH or In Store),WH Location or Store Name,Large Supermarkets,South
1,KSA,Trade Format,2022,6,27,Customer Number,Customer Name,Stock Location (WH or In Store),WH Location or Store Name,Large Supermarkets,South
2,KSA,Trade Format,2022,6,27,Customer Number,Customer Name,Stock Location (WH or In Store),WH Location or Store Name,Large Supermarkets,South
3,KSA,Trade Format,2022,6,27,Customer Number,Customer Name,Stock Location (WH or In Store),WH Location or Store Name,Large Supermarkets,South
4,KSA,Trade Format,2022,6,27,Customer Number,Customer Name,Stock Location (WH or In Store),WH Location or Store Name,Large Supermarkets,South
...,...,...,...,...,...,...,...,...,...,...,...
494,KSA,Trade Format,2022,6,27,Customer Number,Customer Name,Stock Location (WH or In Store),WH Location or Store Name,Small Supermarket,West
495,KSA,Trade Format,2022,6,27,Customer Number,Customer Name,Stock Location (WH or In Store),WH Location or Store Name,Small Supermarket,West
496,KSA,Trade Format,2022,6,27,Customer Number,Customer Name,Stock Location (WH or In Store),WH Location or Store Name,VFM,East
497,KSA,Trade Format,2022,6,27,Customer Number,Customer Name,Stock Location (WH or In Store),WH Location or Store Name,VFM,East
498,KSA,Trade Format,2022,6,27,Customer Number,Customer Name,Stock Location (WH or In Store),WH Location or Store Name,VFM,East

In [58]:
KSA_MT_2=spark.sql("""select 
Country
,'Trade Format'
,Year
,MONTH as Month
,Week
,'Customer Account / Banner Code' as CustomerCodeBannerCode
,ACCOUNT as CustomerName
,'ACCOUNT LOCATION' as StockLocationWHorInStore
,'STORE NAME' as WHLocationorStoreName
,'Store Format'
,Region

 from KSA_MT_2""")

In [59]:
KSA_MT_2.toPandas()

,Country,Trade Format,Year,Month,Week,CustomerCodeBannerCode,CustomerName,StockLocationWHorInStore,WHLocationorStoreName,Store Format,Region
0,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN
1,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN
2,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN
3,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN
4,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN
...,...,...,...,...,...,...,...,...,...,...,...
494,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN
495,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN
496,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN
497,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN
498,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN

In [60]:
Total = spark.sql("""  select Country
,'Trade Format'
,Year
,Month
,Week
,'Customer Number' as CustomerCodeBannerCode
,'Customer Name'
,'Stock Location (WH or In Store)'
,'WH Location or Store Name'
,Channel as StoreFormat
,Region
 from KSA_GT_2
 
 union all 
 select 
Country
,'Trade Format'
,Year
,MONTH as Month
,Week
,'Customer Account / Banner Code' as CustomerCodeBannerCode
,ACCOUNT as CustomerName
,'ACCOUNT LOCATION' as StockLocationWHorInStore
,'STORE NAME' as WHLocationorStoreName
,'Store Format'
,Region

 from KSA_MT_2
 """)

In [61]:
Total.toPandas()

,Country,Trade Format,Year,Month,Week,CustomerCodeBannerCode,Customer Name,Stock Location (WH or In Store),WH Location or Store Name,StoreFormat,Region
0,KSA,Trade Format,2022,6,27,Customer Number,Customer Name,Stock Location (WH or In Store),WH Location or Store Name,Large Supermarkets,South
1,KSA,Trade Format,2022,6,27,Customer Number,Customer Name,Stock Location (WH or In Store),WH Location or Store Name,Large Supermarkets,South
2,KSA,Trade Format,2022,6,27,Customer Number,Customer Name,Stock Location (WH or In Store),WH Location or Store Name,Large Supermarkets,South
3,KSA,Trade Format,2022,6,27,Customer Number,Customer Name,Stock Location (WH or In Store),WH Location or Store Name,Large Supermarkets,South
4,KSA,Trade Format,2022,6,27,Customer Number,Customer Name,Stock Location (WH or In Store),WH Location or Store Name,Large Supermarkets,South
...,...,...,...,...,...,...,...,...,...,...,...
993,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN
994,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN
995,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN
996,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN
997,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN

In [62]:
Total.toPandas().to_csv('Total_2.csv', sep=';', header=True, index=False)

In [79]:
total=spark.sql("""select Country,
'Trade Format',
Year,
Month,
Week,
'Customer Number' as CustomerCodeBannerCode,
'Customer Name',
'Stock Location (WH or In Store)',
'WH Location or Store Name',
Channel as StoreFormat,
Region
from trans_KSA_GT
union all 
select Country
,'Trade Format'
,Year
,MONTH as Month
,Week
,'Customer Account / Banner Code'
,ACCOUNT as CustomerName
,'ACCOUNT LOCATION' as StockLocationWHorInStore
,'STORE NAME' as WHLocationorStoreName
,'Store Format'
,Region
from trans_KSA_MT
""")

In [74]:
trans_KSA_MT_DF=spark.sql("""select Country
,'Trade Format'
,Year
,MONTH as Month
,Week
,'Customer Account / Banner Code'
,ACCOUNT as CustomerName
,'ACCOUNT LOCATION' as StockLocationWHorInStore
,'STORE NAME' as WHLocationorStoreName
,'Store Format'
,Region
from trans_KSA_MT
""")

In [81]:
trans_KSA_MT_DF.toPandas()

,Country,Trade Format,Year,Month,Week,Customer Account / Banner Code,CustomerName,StockLocationWHorInStore,WHLocationorStoreName,Store Format,Region
0,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN
1,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN
2,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN
3,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN
4,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN
...,...,...,...,...,...,...,...,...,...,...,...
494,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN
495,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN
496,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN
497,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN
498,KSA,Trade Format,2022,11,45,Customer Account / Banner Code,BIN DAWOOD,ACCOUNT LOCATION,STORE NAME,Store Format,WESTERN

In [171]:
df2.count()

500